/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#profileImg {
  width: 112px;
  height: 112px;
  border-radius: 100%;
}

.tittle {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.botaoLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.botao {
  width: 540px;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: rgba(52, 52, 52, 0.2);
  color: white;
  cursor: pointer;
}

.botao:hover {
  opacity: 50%;
  background-color: black;
  transition: 0.8;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px, 0;
}

.light {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos do container do switch */
.toggle-container {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

/* Estilo do botão deslizante */
.toggle-switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Posição do botão no tema claro */
.light .toggle-switch {
  left: 5px;
}

/* Posição do botão no tema escuro */
.dark .toggle-switch {
  transform: translateY(-50%) translateX(25px);
}
